.header{
    margin: 30px 30px 30px 30px;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 400;
    color: mediumblue;

}

.base_table{
    position: relative;
    top: 15vh;
    left: 5vw;
}

table {
  border-collapse: collapse;
}

table, th, td {
    color: blue;
    font-weight: 500;
    padding: 10px;
    border: 1px solid black;

}