.header{
    margin: 30px 30px 30px 30px;

}

.base_table{
    position: relative;
    top: 15vh;
    left: 5vw;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}